In [1]:
import pandas as pd
import numpy as np
import pycountry
import glob
from functools import lru_cache

In [2]:
def load_and_join(file_list):
    #load all csv files into data frames
    #concat them to a single one for further processing
    df = pd.read_csv(
                    file_list.pop(0), sep=";")
    for file_name in file_list:
        tmp_df = pd.read_csv(
                    file_name, sep=";")
        df = pd.concat([df,tmp_df],ignore_index=True)
    return df

In [3]:
def country_to_iso_cc(asn,as_cc):
    # its easier to ask for forgiveness, so use try-except
    # (instead of performing the "in" check and than "lookup")
    try:
        country = as_cc[as_cc["asn"]==int(float(asn))].country.tolist()[0]
        if country=="South Korea":
            return "KOR"
        elif country=="Iran":
            return "IRN"
        elif country=="Macedonia":
            return "MKD"
        elif country=="Moldova":
            return "MDA"
        elif country=="Palestine":
            return "PSE"
        elif country=="Czech Republic":
            return "CZE"
        elif country=="Venezuela":
            return "VEN"
        elif country=="Bolivia" or country=="Bolivia, Plurinational State of":
            return "BOL"
        elif country=="Bonaire":
            return "BES"
        elif country=="British Virgin Islands":
            return "VGB"
        elif country=="Cote d'Ivoire":
            return "CIV"
        elif country=="Curacao":
            return "CUW"
        elif country=="European Union":
            return "EU"
        elif country=="Reunion":
            return "REU"
        elif country=="Taiwan":
            return "TWN"
        else:
            iso_cc = pycountry.countries.get(name=country)
            return iso_cc.alpha_3
    except:
        return np.nan

In [4]:
def countrycode_to_iso_cc(country):
    # its easier to ask for forgiveness, so use try-except
    # (instead of performing the "in" check and than "lookup")
    try:
        iso_cc = pycountry.countries.get(alpha_2=country)
        return iso_cc.alpha_3
    except:
        return np.nan

In [5]:
# define helper function with unlimitted cache of results
@lru_cache(maxsize=None)
def map_asn_to_cc(asn):
    global df_cc, df_cc2
    # its easier to ask for forgiveness, so use try-except
    # (instead of performing the "in" check and than "lookup")
    try:
        cc = df_cc[df_cc["asn"]==asn]["cc"].tolist()[0]
        return cc
    except:
        try:
            cc = df_cc2[df_cc2["asn"]==asn]["cc"].tolist()[0]
            return cc
        except:
            return np.nan

In [6]:
csv_cc = glob.glob("./AS_2_CountryCode/as_country_webcrawl-*.csv")

In [7]:
df_cc = load_and_join(csv_cc[:])
df_cc["cc"]=df_cc["asn"].apply(country_to_iso_cc,args=(df_cc,))
df_cc

          asn                    country   cc
0       33947                    Hungary  HUN
1       38684                    Hungary  HUN
2      263374                     Brazil  BRA
3      263772                     Panama  PAN
4      262818                     Brazil  BRA
...       ...                        ...  ...
16575  197025                     Poland  POL
16576  197207  Iran, Islamic Republic of  IRN
16577  197248                    Hungary  HUN
16578  197336                     Poland  POL
16579  197341                    Ukraine  UKR

[16580 rows x 3 columns]

In [8]:
df_cc2 = pd.read_csv("./AS_2_CountryCode/as_country.csv",sep=";")
df_cc2["cc"] = df_cc2["country"].apply(countrycode_to_iso_cc)
df_cc2

          asn country   cc
0           1      US  USA
1       15169      US  USA
2           2      US  USA
3           3      US  USA
4       10429      BR  BRA
...       ...     ...  ...
12850  399412      PR  PRI
12851  399444      PR  PRI
12852  399491      US  USA
12853  399502      US  USA
12854  399503      US  USA

[12855 rows x 3 columns]

In [9]:
df = pd.read_csv("./ScanData_IO_With_ResponseType.csv",sep=";")

In [10]:
df

,dns.id,udp.port,ts_request,ip_request,asn_request,ts_response,ip_response,asn_response,a_records,asn_arecord,ip.ttl,response_type
0,0x0000008b,59564,1.619000e+09,117.40.255.100,4134.0,1.619000e+09,117.40.255.100,4134.0,182.98.160.82,4134.0,242.0,Forwarder
1,0x000001f5,46312,1.619000e+09,114.165.76.163,4713.0,1.619000e+09,114.165.76.163,4713.0,153.149.210.69,4713.0,39.0,Forwarder
2,0x00000222,56030,1.619000e+09,114.45.207.29,3462.0,1.619000e+09,114.45.207.29,3462.0,61.220.2.17,3462.0,43.0,Forwarder
3,0x00000280,34664,1.619000e+09,203.99.120.206,10137.0,1.619000e+09,203.99.120.206,10137.0,203.119.13.185,4622.0,215.0,Forwarder
4,0x000004cd,47375,1.619000e+09,76.16.137.83,7922.0,1.619000e+09,76.16.137.83,7922.0,172.253.194.131,15169.0,55.0,Forwarder
...,...,...,...,...,...,...,...,...,...,...,...,...
2127625,0x0000fca1,50736,1.619054e+09,103.145.54.128,139514.0,1.619054e+09,8.8.4.4,15169.0,74.125.16.163,15169.0,121.0,Transparent Forwarder
2127626,0x0000fcb2,37155,1.619054e+09,200.50.221.197,270460.0,1.619054e+09,208.67.222.222,36692.0,146.112.133.31,36692.0,57.0,Transparent Forwarder
2127627,0x0000fd47,53897,1.619054e+09,190.112.58.187,52271.0,1.619054e+09,8.8.8.8,15169.0,173.194.91.153,15169.0,121.0,Transparent Forwarder
2127628,0x0000ff05,60121,1.619054e+09,103.163.100.42,134860.0,1.619054e+09,8.8.8.8,15169.0,172.217.34.132,15169.0,121.0,Transparent Forwarder
2127629,0x0000ff0a,37588,1.619054e+09,81.215.154.55,47331.0,1.619054e+09,195.175.39.69,9121.0,212.156.199.132,9121.0,241.0,Transparent Forwarder

In [14]:
#df_filtered["country_request"] = np.nan
#df_filtered["country_response"] = np.nan

In [11]:
df["country_request"] = df["asn_request"].apply(map_asn_to_cc)
df["country_response"] = df["asn_response"].apply(map_asn_to_cc)
df

,dns.id,udp.port,ts_request,ip_request,asn_request,ts_response,ip_response,asn_response,a_records,asn_arecord,ip.ttl,response_type,country_request,country_response
0,0x0000008b,59564,1.619000e+09,117.40.255.100,4134.0,1.619000e+09,117.40.255.100,4134.0,182.98.160.82,4134.0,242.0,Forwarder,CHN,CHN
1,0x000001f5,46312,1.619000e+09,114.165.76.163,4713.0,1.619000e+09,114.165.76.163,4713.0,153.149.210.69,4713.0,39.0,Forwarder,JPN,JPN
2,0x00000222,56030,1.619000e+09,114.45.207.29,3462.0,1.619000e+09,114.45.207.29,3462.0,61.220.2.17,3462.0,43.0,Forwarder,TWN,TWN
3,0x00000280,34664,1.619000e+09,203.99.120.206,10137.0,1.619000e+09,203.99.120.206,10137.0,203.119.13.185,4622.0,215.0,Forwarder,IDN,IDN
4,0x000004cd,47375,1.619000e+09,76.16.137.83,7922.0,1.619000e+09,76.16.137.83,7922.0,172.253.194.131,15169.0,55.0,Forwarder,USA,USA
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2127625,0x0000fca1,50736,1.619054e+09,103.145.54.128,139514.0,1.619054e+09,8.8.4.4,15169.0,74.125.16.163,15169.0,121.0,Transparent Forwarder,IND,USA
2127626,0x0000fcb2,37155,1.619054e+09,200.50.221.197,270460.0,1.619054e+09,208.67.222.222,36692.0,146.112.133.31,36692.0,57.0,Transparent Forwarder,BRA,USA
2127627,0x0000fd47,53897,1.619054e+09,190.112.58.187,52271.0,1.619054e+09,8.8.8.8,15169.0,173.194.91.153,15169.0,121.0,Transparent Forwarder,ARG,USA
2127628,0x0000ff05,60121,1.619054e+09,103.163.100.42,134860.0,1.619054e+09,8.8.8.8,15169.0,172.217.34.132,15169.0,121.0,Transparent Forwarder,IND,USA
2127629,0x0000ff0a,37588,1.619054e+09,81.215.154.55,47331.0,1.619054e+09,195.175.39.69,9121.0,212.156.199.132,9121.0,241.0,Transparent Forwarder,TUR,TUR

In [16]:
#tmp = df_filtered.copy()
#df_filtered["country_request"] = df_filtered["asn_request"].apply(as_to_iso_cc,args=(df_cc,tmp,"asn_request","country_request"))
#df_filtered["country_response"] = df_filtered["asn_response"].apply(as_to_iso_cc,args=(df_cc,tmp,"asn_response","country_response"))
#df_filtered

In [12]:
df.to_csv("./dataframe_raw.csv",sep=";",index=False)